.display{

}
.card {
  display: block;
  padding-bottom: 20px;
}
el-carousel {
  background-color: #000000;
}
.el-carousel__item {
  @include respond-to('sm', 'xs') {
      margin-left: 0px;
  }
  @include respond-to('md') {
      margin-left: 100px;
  }
  @include respond-to('lg') {
      margin-left: 230px;
  }
  width: 200px;
  box-shadow: inset 0 0 0 0 $grey,0 8px 4px 0 rgba(47,61,73,.1);
}
.el-carousel__item{
  height: 200px;
  display:block;
  margin-top:50px;
}

.el-carousel__item img {
  height: 200px;
  width: 200px;
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 0px;
  margin: 0px;
  box-shadow: inset 0 0 0 0 $grey,0 2px 1px 0 rgba(47,61,73,.1);
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
