.time {
  display: block;
  font-size: 13px;
  color: #999;
}

.text{
  @include respond-to('xs','sm') {
      display: none;

  }
  @include respond-to('md', 'lg') {
      font-size: 16px;
      display: inherit;
  }
}

.bottom {
  @include respond-to('sm', 'xs') {
      display: none;
  }
  @include respond-to('md', 'lg') {
      display: block;
  }
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}
